:root {
  --blue-unb: rgb(1, 63, 122);   /* #013F7A  */
  --green-unb: rgb(0, 129, 54);  /* #008136 */
}

.nav-pills .nav-link.active {
  background-color: var(--blue-unb);
}

.nav-pills .nav-link {
  color: var(--blue-unb);
}

a {
  color: var(--green-unb);
  text-decoration: none;
}

a:focus {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}

.accordion-button.collapsed {
    font-weight: normal;
    color: var(--green-unb) !important;
    background-color: white !important;
}

.accordion-button {
    font-weight: bold;
    color: white !important;
    background-color: var(--blue-unb) !important;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}

.accordion-button:not(.collapsed)::after {
    filter: invert(100%);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--blue-unb);
    color: white !important;
}

.nav-link:focus {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}
.nav-link:focus.active {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}
