:root {
  --blue-unb: rgb(0, 51, 102);   /* #003366  */
  --green-unb: rgb(0, 102, 51);  /* #006633 */
  --primary-color: var(--blue-unb);
}

.menu-icon {
  color: var(--primary-color);
  fill: currentColor;
  width: 32px;
  height: 32px;
}

.menu-logo {
  height: 32px;
}

.dropdown-menu {
  width: max-content;
}

.nav-pills .nav-link.active {
  background-color: var(--blue-unb);
}

.nav-pills .nav-link {
  color: var(--blue-unb);
}

a {
  color: var(--green-unb);
  text-decoration: none;
}

a:focus {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}

.accordion-button.collapsed {
    font-weight: normal;
    color: var(--green-unb) !important;
    background-color: white !important;
}

.accordion-button {
    font-weight: bold;
    color: white !important;
    background-color: var(--blue-unb) !important;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}

.accordion-button:not(.collapsed)::after {
    filter: invert(100%);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: var(--blue-unb);
    color: white !important;
    box-shadow: none;
}

.nav-link:focus {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}
.nav-link:focus.active {
    box-shadow: 0 0 0 0.2rem var(--green-unb);
}
